html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #88bdbc;
  }
 
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }

  h2 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px d#0092ca;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  body {
    display: flexbox;
    width: 600px;
    margin: 0 auto;
    background-color: #254E58;
    padding: 0 20px 20px 20px;
    border: 5px solid #6e6658;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }

  .unreleased {
    display: flexbox;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 150px;
  }

  .site-header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
  }
  
  
  .site-navigation ul, 
  .site-navigation li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }